@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Outfit:wght@100..900&display=swap');


/* .reveal * {
    text-align: left;
} */

:root {

  --r-main-font: Montserrat;
  --r-heading-font: Montserrat; /* Nata Sans; */
  --r-main-font-size: 26px;
  --r-heading-line-height: 1.2;  
}

.reveal p {
  line-height: 1.0;
  text-align: left;
}

.reveal pre {
  color: chocolate;
}

.reveal code {
  color: chocolate;
}

#inner {  
  border: 0.05em solid black;
}

#outer {
  /* border: 0.05em solid red; */
  width:100%;
  display: flex;
  justify-content: center;
}

.grid-center {
  display: flex;
  justify-content: center; /* centers horizontally */
  width: 100%; /* ensures full container width */
  position: relative;
  z-index: 10;
}

/* Optional: if you want to center vertically too */
.grid-center-vert {
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}


/* h6 very small for footers */
.reveal h6 {
  font-size: calc(var(--r-main-font-size) * 0.6);
}

